:root {
    --contenedor-altura-ancho: 300px;
}


body {
    min-height: 100vh;
    min-width: 100vw;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor{
    display: block;
    justify-content: center;
    height: var(--contenedor-altura-ancho);
    width: var(--contenedor-altura-ancho);
    background: white;
}

#contenedor #display-color{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 3px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: black;
}

#contenedor #mostrar-hexadecimal{
    font-size: 2em;
    width: 150px;
    margin: 10px 20%;
    border: 1px solid grey;
    border-radius: 3px;
}

#contenedor #generador-color {
   min-height: 50px;
   min-width: 100px;
   /*El cálculo es para centrar el botón verticalmente*/
   margin: 10px calc(var(--contenedor-altura-ancho) / 2 - 50px);
}